html,body{color:#333333;}
h1,h2,h3{font-weight:bold;margin:0;}
img{
	width:100%;
	display:block;
}
@font-face {
	font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    	url('../fonts/icomoon.woff') format('woff'),
    	url('../fonts/icomoon.ttf') format('truetype'),
    	url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* mixin */
@mixin setIcon{
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
@mixin clearfix {
	*zoom:1;
	&:before, &:after { content: " "; display: table; }
	&:after { clear: both; }
}
@mixin resetList{
	ul{margin:0px;padding:0px;}
	li{margin:0px;padding:0px;list-style:none;}
}

@mixin setSearchHeight{
	height:20px;
	line-height:20px;
	font-size:12px;
	@media #{$medium-up}{
		height:36px;
		line-height:36px;
		font-size:16px;
	}
}

/* color */
$globalColor:#ff0080;
$globalColorHover:#bf0060;
$venueColor:#0066ff;
$venueColorHover:#003380;
$destinationColor:#000066;
$destinationColorHover:#000033;
$peopleColor:#00cbfe;
$peopleColorHover:#0098bf;

/* global */
.greyBg{background:#eff3f4;}
$maxWidth:1280px;
.mainContent{
	margin:0 auto;
	max-width:$maxWidth;
}
.sectionTitle{
	font-size:26px;
	lien-height:26px;
	font-weight:bold;
}
.btnWrapper{text-align:center;}
.btn{
	display:inline-block;
	padding:0px 28px;
	color:#fff;
	font-weight:bold;
	border-radius:$global-radius;
	min-width:210px;
	height:46px;
	line-height:46px;
	white-space:nowrap;
	font-size:21px;
	background:$globalColor;
	&:hover{background:$globalColorHover;color:#fff;}
	&.venue{background:$venueColor;}
	&.venue:hover{background:$venueColorHover;color:#fff;}
	&.destination{background:$destinationColor;}
	&.destination:hover{background:$destinationColorHover;color:#fff;}
	&.people{background:$peopleColor;}
	&.people:hover{background:$peopleColorHover;color:#fff;}
}
.newsBtn{
	@extend .btn;
	border-radius:0px;
	min-width:auto;
	padding:0px 10px;
	font-size:16px;
	height:26px;
	line-height:26px;
}
.navBtn{
	@extend .btn;
	min-width:auto;
	padding:0px 10px;
	float:left;
	height:18px;
	line-height:18px;
	font-size:12px;
	@media #{$medium-up}{
		font-size:14px;
		height:25px;
		line-height:25px;
	}
}
.imgBox{
	width:100%;
	position:relative;
	.newsBtn{
		position:absolute;
		top:0px;
		left:0px;
	}
	.overlay{
		position:absolute;
		bottom:0px;
		width:100%;
		height:134px;
		background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));
		.text{
			bottom:0px;
			position:absolute;
			padding:10px;
		}
		h2{
			margin:0px;
			font-size:20px;
			line-height:22px;
			color:#fff;
		}
		p{
			margin:0px;
			color:#fff;
			font-size:15px;
		}
	}
	&.style2{
		@include clearfix;
		img{
			width:46.6666%;
			float:left;
		}
		.newsBtn{display:none;}
		.overlay{
			width:53.3333%;
			height:100%;
			right:0px;
			top:0px;
			bottom:auto;
			background:#fff;
			h2{
				color:#333333;
				font-size:16px;
				line-height:20px;
			}
			p{color:#333333;}
			.text{top:0px;bottom:auto;}
		}
		@media #{$medium-up}{
			.newsBtn{display:block;}		
			.overlay{
				position:relative;
				width:100%;
				height:80px;
				float:none;
			}
			img{
				position:relative;
				width:100%;
				float:none;
			}			
		}
	}
	&.style3{
		@extend .style2;
		.imgWrapper{
			display:block;
			position:absolute;
		}
		.num{
			display:block;
			position:absolute;
			font-size:42px;
			font-weight:bold;
			font-style:italic;
			color:#fff;
			top:40%;
			left:-50%;
		}
		.text{padding:0px 10px;}
		@media #{$medium-up}{
			.overlay{
				background:#f2f2f2;
				.text{
					width:80%;
					right:0px;
					top:10px;
				}				
			}
			.num{
			top:0px;
			left:-20%;
			color:#333333;
			}
		}
	}
}
.spaceRow{margin-bottom:38px;}
.grid{
	@include clearfix;
	.col{
		float:left;
		padding:0px 10px 20px;
		width:100%;
	}
	&.col-2-even{
		.col{
			@include clearfix;
			padding:0px;
			.cover{
				float:left;
				width:50%;
				padding:0px 5px 10px;
			}			
		}	
	}
	&.col-2-main{
		.space{padding-bottom:20px;}	
	}
	@media #{$medium-up}{
		&.col-2{
			padding:0px 20px;
			.col{
				width:33.33333333%;
				padding:0px;
				&:first-child{
					width:66.66666666%;
					padding-left:0px;
					padding-right:60px;
				}
			}
		}
		&.col-2-even{
			padding:0px 10px;
			.col{width:50%;}
		}
		&.col-2-main{
			padding:0px 10px;
			.mainCol{
				width:66.66666%;
			}
			.subCol{
				width:33.33333%;
			}
		}		
		&.col-3{
			padding:0px 9px;
			.col{
				width:33.333333%;
				padding:0px 11px 22px;
			}
		}
		&.col-4{
			padding:0px 7px;
			.col{
				width:25%;
				padding:0px 13px 26px;
			}
		}	
	}	
}

/* header */
header{
	z-index:9999;
	margin:0 auto;
	width:100%;
	position:absolute;
	height:217px;
	@media #{$medium-up}{height:425px;}
	.row{
		max-width:$maxWidth;
		height:100%;
		.padding{
			@include clearfix;
			padding:18px 10px;
			@media #{$medium-up}{padding:20px 18px;}
			@media #{$large-up}{padding:10px 50px;}
		}
	}
	.logo{
		background-image:url(../images/logo.png);
		background-size:cover;
		float:left;
		width:34px;
		@media #{$medium-up}{width:87px;}
		@media #{$large-up}{width:108px;}
	}
	.menuBtn{
		position:static;
		float:left;
		display:block;
		font-size:12px;
		margin:0px 0px 0px 20px;
		a.menuText{
			color:#fff;
			@media #{$large-up}{display:none;}			
			&:before{
				@include setIcon;
				content: "\e20e";
				font-size:1.6em;
				vertical-align:top;
				margin-right:7px;
			}
		}
		@media #{$medium-up}{
			position:relative;
			font-size:18px;
			margin:8px 0px 0px 26px;
		}
	}
	.navBtnWrapper{
		@include clearfix;
		float:right;
		.navBtn{
			@media #{$medium-up}{margin-left:12px;}
			@media #{$large-up}{margin-left:14px;}
		}
		.linkWrapper{
			@include clearfix;
			float:right;
			padding-left:12px;
			display:none;
			@media #{$medium-up}{display:block;}
		}
		.link{
			float:left;
			font-size:14px;
			color:#fff;
			margin-left:13px;
		}
		@media #{$medium-up}{margin-top:7px;}
	}
	.menuWrapper{
		display:none;
		&.act{display:block;}
		position:absolute;
		z-index:10;
		width:100%;
		top:0px;
		left:0px;
		padding-top:70px;
		background:#fff;
		background-image:url(../images/logo.png);
		background-position:10px 10px;
		background-repeat:no-repeat;
		background-size: 80px auto;
		@include resetList;
		li{line-height:40px;}
		.menuClose{
			color:$globalColor;
			position:absolute;
			right:13px;
			top:0px;
		}
		$menuBorderColor:#d7d7d7;
		.dropDownList{
			border-top:1px solid $menuBorderColor;
			a{
				color:#333333;
				font-size:17px;
			}
		}
		.section{
			display:block;
			border-bottom:1px solid $menuBorderColor;
			font-weight:bold;
			padding-left:18px;
		}
		.submenu{display:none;}
		.lv1Menu.act .submenu{display:block;}
		.submenu li{
			border-bottom:1px solid $menuBorderColor;
			padding-left:30px;
		}
		.menuBottom{
			background:#fff;
			height:160px;
			text-align:center;
			.linkWrapper{
				padding:40px 0px 20px;
				.link{
					color:$globalColor;
					margin:0px 10px;
				}				
			}
		}
		@media #{$medium-up}{
			&.act{
				background:none;
				top:40px;
				left:0px;
				width:320px;
				padding-top:0px;
				box-shadow:3px 3px 3px rgba(0,0,0,0.5);
				.menuClose{display:none;}
				.dropDownList{
					padding-top:15px;
					border:none;
					background:#fff;
				}
				&:before{
					content:url(../images/triangle_bg.png);
					position:absolute;
					top:-20px;
					left:40px;
				}
			}
		}
		@media #{$large-up}{
			display:block;
			padding-top:0px;
			margin-left:20px;
			background:none;
			position:relative;
			width:auto;
			float:left;
			.menuClose{display:none;}
			.dropDownList{
				border:none;
				@include clearfix;
				.lv1Menu{
					margin-top:-5px;
					position:relative;
					float:left;
					margin-left:25px;
					.section{
						color:#fff;
						padding:0px;
						border:none;
					}
					.section:after{
						@include setIcon;
						content: "\e10f";
						font-size:1.6em;
						vertical-align:middle;
					}
				}
				.submenu{
					position:absolute;
					box-shadow:3px 3px 3px rgba(0,0,0,0.5);
					margin-top:10px;
					padding:0px 6px;
					background:#fff;
					li{
						padding:0px 10px;
						white-space:nowrap;
					}
					&:before{
						position:absolute;
						top:-25px;
						left:10px;
						content:url('../images/triangle_bg.png');
					}
				}
			}
			.menuBottom{display:none;}
		}
	}
	&.sticky{
		position:fixed;
		top:0px;
		height:auto;
		.logo{
			background-image:url(../images/logo_white.png);
			@media #{$medium-up}{width:64px;}
		}
		.menuBtn{
			@media #{$medium-up}{font-size:12px;}
		}		
		.padding{
			background:$globalColor;
			padding:3px 10px;
			@media #{$medium-up}{padding:3px 20px;}
		}
		.getListed{
			background:#fff;
			color:$globalColor;
			height:19px;
			line-height:19px;
			@media #{$medium-up}{
				font-size:14px;
				height:25px;
				line-height:25px;			
			}
		}
		.searchWrapper{
			position:relative;
			height:33px;
			padding-top:6px;
			@media #{$medium-up}{
				height:62px;
				padding-top:13px;
			}
		}
		.menuWrapper.act:before{
			top:-10px;
			left:30px;
		}
	}
}
.socialWrapper{
	text-align:center;
	.socialIcon{
		display:inline-block;
		width:35px;
		height:35px;
		background:$globalColor;
		border-radius:$global-radius;
		text-indent:-9999px;
		background-image:url(../images/social_icon.png);
		margin:0px 5px;
		&#rss{background-position:0px 0px;}
		&#facebook{background-position:-35px 0px;}
		&#twitter{background-position:-70px 0px;}
		&#linkedIn{background-position:-105px 0px;}
		&#instagram{background-position:-140px 0px;}
	}
}
.searchWrapper{
	position:absolute;
	bottom:0px;
	padding:23px 10px 0px;
	@include clearfix;
	height:64px;
	width:100%;
	max-width:$maxWidth;
	background:rgba(0,0,0,0.2);
	input{margin-bottom:0px;}
	.socialWrapper{
		display:none;
		@media #{$large-up}{
			display:block;
			float:left;
		}
	}
	.searchBox{
		@include clearfix;
		margin:0 auto;
		border-radius:$global-radius;
		overflow:hidden;
		#search{
			@include setSearchHeight;
			padding:0px 10px;
			margin:0px -154px 0px 0px;
			float:left;
			@media #{$medium-up}{margin:0px -312px 0px 0px;}
		}
		.searchSelectWrapper{float:left;}
		#searchSelect{
			@include setSearchHeight;
			margin:0px;
			text-align:center;
			padding:0px;
			float:left;
			width:104px;
			color:$globalColor;
			background:#fff;
			.option{color:$globalColor;}
			@media #{$medium-up}{width:224px;}
		}
		#searchSubmit{
			@include setSearchHeight;
			padding:0px;
			float:right;
			background:$globalColor;
			width:50px;
			text-align:center;
			color:#fff;
			border:none;
			@media #{$medium-up}{width:88px;}
		}
		@media #{$large-up}{
			width:740px;
			float:left;
			margin:0px 5px 0px 132px;
		}
	}
	@media #{$medium-up}{
		height:80px;
		padding:22px 20px;
	}
}

/* footer */
footer{
	@include resetList;
	width:100%;
	background:#cccccc;
	a{color:$globalColor;}
	.row{
		padding:40px 12px 25px;
		@media #{$medium-up}{padding:40px 20px 25px;}
	}
	.upper{
		@include clearfix;
		.left{
			float:left;
			width:100%;
			@media #{$medium-up}{width:50%}
			.text{
				font-size:14px;
				line-height:16px;
				text-align:center;
				color:#4d4d4d;
				margin-bottom:14px;
				@media #{$medium-up}{
					text-align:left;
					margin-bottom:30px;
				}
			}
			.getListedWrapper{
				text-align:center;
				@media #{$medium-up}{text-align:left;}
				display:block;
				margin-bottom:20px;
				@include clearfix;
				.navBtn{
					font-size:14px;
					height:25px;
					lien-height:25px;				
					float:none;
				}
			}
		}
		.right{
			@include clearfix;
			float:left;
			width:100%;
			@media #{$medium-up}{width:50%}
			ul{
				float:left;
				width:50%;
				margin-bottom:35px;
			}
			li{				
				font-size:14px;
				line-height:16px;
			}
		}
	}
	.socialWrapper{margin-bottom:35px;}
	.copyright{
		text-align:center;
		@media #{$medium-up}{text-align:left;}
		p{
			font-size:12px;
			line-height:14px;
			a{
				color:$globalColor;
				@media #{$medium-up}{text-align:left;}
			}
		}
		.logo{
			@media #{$medium-up}{
				float:left;
				margin:0px 18px 10px 0px;
			}
			display:inline-block;
			width:80px;
			margin-bottom:5px;
		}
	}
	
}

/* home */
#home .adWrapper{
	background:#eff3f4;
	padding:6px 10px;
	@media #{$medium-up}{padding:12px 20px;}
}
#home .leaderboard{
	max-width:300px;
	@media #{$medium-up}{max-width:728px;}
}

#home .hero {
	position:relative;
	background-size: cover;
	.intro{
		position:absolute;
		width:100%;
		color:#fff;
	}
	&#hero1{
		background: url('../images/home_hero1.jpg') no-repeat center center;
		height:217px;
		.intro{padding-top:80px;}
		@media #{$medium-up}{
			height:425px;
			.intro{padding-top:150px;}
		}
	}
	&#hero2{
		background: url('../images/home_hero2.jpg') no-repeat center center;
		height:217px;		
		.intro{padding-top:55px;}
		.heroBtnWrapper .btn{margin-top:20px;}
		@media #{$medium-up}{
			.heroBtnWrapper .btn{
				margin:50px0px;
				&.destination{margin-right:80px;}
				&.venue{margin-left:80px;}
			}
			br{display:none;}
			height:442px;
			.intro{padding-top:165px;}
		}
		
	}
	h1{
		font-size:17px;
		margin-bottom:0px;
		color:#fff;
	}
	h2{
		font-size:12px;
		color:#fff;
	}
	@media #{$medium-up}{
		h1{font-size:38px;}
		h2{font-size:26px;}
	}
	@media #{$large-up}{
		h1{font-size:47px;}
		h2{font-size:32px;}
	}
}
#home .mainContent .section{
	padding:40px 0px 30px;
	max-width:960px;
	margin:0 auto;
}
#home .mainContent .sectionTitle{margin-bottom:20px;}
#home .mainContent .separater{height:35px;}
#home #issue .book{
	width:145px;
	margin:0 auto;
	@media #{$medium-up}{
		float:left;
		margin-right:20px;
	}
}
#home #issue .text{
	text-align:center;
	h2{font-size:18px;}
	p{font-size:16px;line-height:20px;}	
	@media #{$medium-up}{text-align:left;}	
}
#home #issue .btnWrapper{@media #{$medium-up}{float:left;}}